
<head>
  <h1 class="text-center display-4 my-4" style="color:rgb(35, 180, 161); font-weight:bold">GRAPHS</h1>
  <h3>Hey there!</h3>
  <h6>Garphs are one of the easiest and most feasible ways to view and analyze your data/iformation.</h6>
  <h6> The below buttons will help you keep track and analyze your work on our page . </h6>
  <h6> Well, what are you waiting for? Get coding and analyzing!</h6>
  <br>
  <br>
  <style>
  body{
    background-image: url('https://cdn.wallpapersafari.com/30/97/x6KWGw.jpg');
     height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: thistle;
  }
  </style>

  <h6 style="color: rgb(164, 107, 218); font-weight:600">Click to generate graph on Issues Posted!</h6>
  <br>
  <a href="graphs/Graph_Issue" class="btn btn-primary" role="button" style="background:rgb(235, 234, 232); color:rgb(0, 0, 0); font-weight:bold">GENERATE</a>
  <br>
  <br>
  <h6 style="color: rgb(164, 107, 218); font-weight:600">Click to generate graph regarding the days and files that have been uploaded! </h6>
  <br>
  <a href="graphs/Graph_Dough" class="btn btn-primary" role="button" style="background:rgb(235, 234, 232); color:rgb(0, 0, 0); font-weight:bold">GENERATE</a>
  <br>
  <br>
  <h6 style="color: rgb(164, 107, 218); font-weight:600">Curious how actively people have been posting issues? Click below</h6>
  <br>
  <a href="graphs/Graph_Column" class="btn btn-primary" role="button" style="background:rgb(235, 234, 232); color:rgb(0, 0, 0); font-weight:bold">GENERATE</a>
  

 </head>