<head>
    <h1 class="text-center display-4 my-4" style="color:white; font-weight:bold; font-family:monospace">FILES CHART</h1>
    
     <script src="https://unpkg.com/@mongodb-js/charts-embed-dom@beta%22%3E"></script>
  </head>
  <style>
  body{
    background-image: url('https://cdn.wallpapersafari.com/95/98/3vRqDI.jpg');
     height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  </style>
  <body>
    <div align="middle">
   <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-wt-cdmzy/embed/charts?id=8a0dfb3e-6096-4fb0-9517-30c8237df20a&autoRefresh=10&theme=light%22%3E"></iframe>
    </div>
    <script>
    </script>
    <a href="/graphs" class="btn btn-danger" role="button" style="background:rgb(235, 234, 232); color:rgb(0, 0, 0); font-weight:bold">BACK TO GRAPHS OPTIONS</a>
  </body>
</head>